/**
 * Borders helper classes.
 *
 * `.(border--)(t|r|b|l|h|v)(+|0) {}` = rounded top/right/bottom/left/horizontal/vertical thick/none
 */

/* stylelint-disable declaration-colon-space-after, function-parentheses-space-inside, function-comma-space-after */
/* Because stylelint does not understand SCSS variable definitions */
$sides: ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left');


// Predefine the variables below in order to alter and enable specific features.
$border-width:              1px !default;
$border-width--thick:       2px !default;

$border-color:              $border !default;
$border-color--lighter:     $border--lighter !default;
$border-color--darker:      $border--darker !default;

$enable-borders:            false !default;
$enable-horizontal-borders: false !default;
$enable-vertical-borders:   false !default;

$enable-borders-thick:      false !default;
$enable-borders-none:       false !default;

$enable-borders-lighter:    false !default;
$enable-borders-darker:     false !default;
/* stylelint-enable */


@if ($enable-borders == true) {

    .border {
        border: $border-width solid $border-color;

        @each $side-abbr, $side in $sides {
          &--#{$side-abbr} {
            border-#{$side}: $border-width solid $border-color;
          }
        }

        @if ($enable-horizontal-borders == true) {
            &--h {
              border-bottom: $border-width solid $border-color;
              border-top: $border-width solid $border-color;
            }
        }

        @if ($enable-vertical-borders == true) {
            &--v {
              border-left: $border-width solid $border-color;
              border-right: $border-width solid $border-color;
            }
        }
    }

}




@if ($enable-borders-lighter == true) {

    .border {

        &--lighter {
            border: $border-width solid $border-color--lighter;
        }

        @each $side-abbr, $side in $sides {
          &--#{$side-abbr}-lighter {
            border-#{$side}: $border-width solid $border-color--lighter;
          }
        }

        @if ($enable-horizontal-borders == true) {
            &--h-lighter {
              border-bottom: $border-width solid $border-color--lighter;
              border-top: $border-width solid $border-color--lighter;
            }
        }

        @if ($enable-vertical-borders == true) {
            &--v-lighter {
              border-left: $border-width solid $border-color--lighter;
              border-right: $border-width solid $border-color--lighter;
            }
        }
    }

}




@if ($enable-borders-darker == true) {

    .border {

        &--darker {
            border: $border-width solid $border-color;
        }

        @each $side-abbr, $side in $sides {
          &--#{$side-abbr}-darker {
            border-#{$side}: $border-width--thick solid $border-color--darker;
          }
        }

        @if ($enable-horizontal-borders == true) {
            &--h-darker {
              border-bottom: $border-width--thick solid $border-color--darker;
              border-top: $border-width--thick solid $border-color--darker;
            }
        }

        @if ($enable-vertical-borders == true) {
            &--v-darker {
              border-left: $border-width--thick solid $border-color--darker;
              border-right: $border-width--thick solid $border-color--darker;
            }
        }
    }

}




@if ($enable-borders-thick == true) {

    .border {

        &\+ {
            border: $border-width--thick solid $border-color;
        }

        @each $side-abbr, $side in $sides {
          &--#{$side-abbr}\+ {
            border-#{$side}: $border-width--thick solid $border-color;
          }
        }

        @if ($enable-horizontal-borders == true) {
            &--h\+ {
              border-bottom: $border-width--thick solid $border-color;
              border-top: $border-width--thick solid $border-color;
            }
        }

        @if ($enable-vertical-borders == true) {
            &--v\+ {
              border-left: $border-width--thick solid $border-color;
              border-right: $border-width--thick solid $border-color;
            }
        }
    }

}




@if ($enable-borders-none == true) {

    .border {

        &0 {
            border: none;
        }

        @each $side-abbr, $side in $sides {
          &--#{$side-abbr}0 {
            border-#{$side}: 0 none;
          }
        }

        @if ($enable-horizontal-borders == true) {
          &--h0 {
            border-bottom: 0 none;
            border-top: 0 none;
          }
        }

        @if ($enable-vertical-borders == true) {
          &--v0 {
            border-left: 0 none;
            border-right: 0 none;
          }
        }
    }
}
