/*
 * Mixin for pinning elements to a specific position.
 *
 * @param $position    [top, bottom, left, right, top-right, top-left, bottom-right, bottom-left]
 * @param $type        Positioning method: [absolute, relative, fixed, static]
 */


@mixin pin($position, $type: fixed) {
    @if not index(top bottom left right top-right top-left bottom-right bottom-left, $position) {
        @error 'Position must be one of [top, bottom, left, right, top-right, top-left, bottom-right, bottom-left].';
    }

    @if not index(absolute relative fixed static, $type) {
        @error 'Type must be one of [absolute, relative, fixed, static].';
    }

    position: $type;

    @if $position == top {
        top: 0;
    }

    @if $position == bottom {
        bottom: 0;
    }

    @if $position == right {
        right: 0;
    }

    @if $position == left {
        left: 0;
    }

    @if $position == top-right {
        right: 0;
        top: 0;
    }

    @if $position == top-left {
        left: 0;
        top: 0;
    }

    @if $position == bottom-right {
        bottom: 0;
        right: 0;
    }

    @if $position == bottom-left {
        bottom: 0;
        left: 0;
    }
}
