/*
 * Labels.
 */


/*
 * 1 - Prevent text from being selected when clicking on the label
 */
label {
    color: $text--lighter;
    display: block;
    font-weight: bold;
    /* stylelint-disable property-no-vendor-prefix */
    /* not available as unprefixed property yet */
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none; /* 1 */
    /* stylelint-enable property-no-vendor-prefix */
}

/*
 * 1 - Make both input and label display inline-block, if input has label. Requires a wrapper.
 */
label + input,
input + label {
    display: inline-block; /* 1 */
}

/*
 * 1 - Add some spacing, if label is directly next to input
 */
label + input,
label + select {
    margin-left: .25em; /* 1 */
}

/*
 * 1 - Required for IE
 */
.label--inline {
    display: inline-block;
    vertical-align: top; /* 1 */
}

/*
 * dynamic labels that appear / disappear on focus / blur
 */
.label--dynamic {
    color: $text--lighter;
    display: block;
    font-size: $font-size-;
    margin-left: .25em;
    opacity: 0;
    padding: .05em .35em;
    position: relative;
    transition: opacity $transition-time--medium ease-in-out;

    &.is-active {
        opacity: 1;
    }
}

/*
 * 1 - Give the label text color, if it is applied to a checkbox or radiobutton,
 *     because then the label text holds the actual information,
 *     whereas for a text input, it merely describes the information
 */
.label--option {
    color: $text; /* 1 */
    cursor: pointer;
    font-weight: normal;
    margin-top: 0;

    /*
     * 1 - Links inside of labels should inherit the label color
     */
    a {
        border-bottom: 1px solid $clickable;
        color: inherit; /* 1 */
        font-weight: inherit;

        &:hover {
            border-bottom-color: $clickable--highlight;
            color: $clickable--highlight;
        }
    }
}
