/*
 * Hyperlinks.
 */

/* stylelint-disable declaration-colon-space-after, function-parentheses-space-inside, function-comma-space-after */
/* Because stylelint does not understand SCSS variable definitions */
$inuit-base-spacing-unit:   14px !default;

$clickable:                 hsl(201,  87%,  68%) !default;
$clickable--highlight:      hsl(201,  92%,  74%) !default;
$text--lightest:            hsl( 83,   2%,  78%) !default;
/* stylelint-enable */


a,
%link-base-behaviour {
    color: $clickable;
    /* stylelint-disable no-unsupported-browser-features */
    /* nobody cares, if the cursor is not changed in bad browsers */
    cursor: pointer;
    /* stylelint-enable */
    text-decoration: none;

    /*
     * 1 - Inherit the color value of the parent element
     */
    svg {
        fill: currentColor; /* 1 */
    }

    /*
     * 1 - Remove box shadows
     * 2 - Remove dotted outline
     */
    &:active,
    &:focus,
    &:visited {
        box-shadow: none; /* 1 */
        outline: 0 none; /* 2 */
    }

    &:visited {
        color: $clickable;
    }

    &:active,
    &:focus,
    &:hover,
    &:visited:hover {
        color: $clickable--highlight;

        svg {
            fill: currentColor;
        }
    }

    &.is-disabled,
    &.is-disabled:hover {
        color: $text--lightest;
        /* stylelint-disable no-unsupported-browser-features */
        /* nobody cares, if the cursor is not changed in bad browsers */
        cursor: not-allowed;
        /* stylelint-enable */
        font-style: italic;
    }
}

.pseudo-link {
    @extend %link-base-behaviour;

    display: inline-block;
    font-weight: bold;

    &--p {
        padding: $inuit-base-spacing-unit;
    }

    &--p- {
        padding: halve($inuit-base-spacing-unit);
    }

    &--p-- {
        padding: quarter($inuit-base-spacing-unit);
    }
}
